OptimisY3/SLAManagement/branches/sla-management-dummy/sla-management-server-dummy/src/test/resources/validator/sla-service-price-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://www.optimis.eu/sla/service-price-types"
            xmlns:service-price="http://www.optimis.eu/sla/service-price-types">
  
  <xsd:element name="SLAServicePrice" type="service-price:SLAServicePriceType" />
  
  <xsd:complexType name="SLAServicePriceType">
    <xsd:sequence>
      <xsd:element name="Amount" type="xsd:decimal" minOccurs="1" maxOccurs="1"/> 
    </xsd:sequence>
    <xsd:attribute name="currency" type="xsd:string"/>
    <xsd:attribute name="unit" type="xsd:string" />
  </xsd:complexType>
  
</xsd:schema>